/* ------------------------------------------------------------------------------------------------ */
/* Footer */
/* ------------------------------------------------------------------------------------------------ */

footer
  text-align: center
  padding: 30px 0
  text-transform: uppercase
  background-color: #0B1E26
  min-height: 250px
  width: 100%
  bottom: 0