/* ------------------------------------------------------------------------------------------------ */
/* General */
/* ------------------------------------------------------------------------------------------------ */
body
  min-height: 100vh
  width: 100%
  background-color: #f4f4f4