/* ------------------------------------------------------------------------------------------------ */
/* Header */
/* ------------------------------------------------------------------------------------------------ */
header
  text-align: left
  text-transform: uppercase
  padding: 30px 0