<div class="index-card">
        <div class="index-card-label">
            <span>Page Index</span>
        </div>
        <div class="index-card-header">
            <h2 class="company-name">ATLNTX</h2>
        </div>
        <div class="index-card-list-wrap">
            <div class="index-card-item">
                <a href="basic.html">
                    Basic
                    <i class="fa fa-angle-right pull-right"></i>
                </a>
            </div>
        </div>
    </div>