<header class="cd-header">
    <div class="cd-logo"><a class="logo-font" href="/">Atlntx</a></div>

    <nav>
        <ul class="cd-secondary-nav">
            <li><a href="#0">Log In</a></li>
            <li><a href="#0">Register</a></li>
        </ul>
    </nav> <!-- cd-nav -->

    <a class="cd-primary-nav-trigger" href="#0">
        <span class="cd-menu-text"></span><span class="cd-menu-icon"></span>
    </a> <!-- cd-primary-nav-trigger -->
</header>

<nav>
    <ul class="cd-primary-nav">
        <li class="cd-label">About us</li>

        <li><a href="#0">The team</a></li>
        <li><a href="#0">Our services</a></li>
        <li><a href="#0">Our projects</a></li>

        <li class="cd-label">Work with us</li>

        <li><a href="#0">Start a project</a></li>
        <li><a href="#0">Join In</a></li>
        <li><a href="#0">Create an account</a></li>

        <li class="cd-label">Follow us</li>
        
        <li class="cd-social cd-facebook"><a href="#0">Facebook</a></li>
        <li class="cd-social cd-instagram"><a href="#0">Instagram</a></li>
        <li class="cd-social cd-dribbble"><a href="#0">Dribbble</a></li>
        <li class="cd-social cd-twitter"><a href="#0">Twitter</a></li>
    </ul>
</nav>
